<html>
<header></header>
<body>
    <form action="/predict" method="post" id="myForm">
<h2>Welcome to the Pomegranate disease Prediction </h2>
<input type="text" name="Temperature" id="Temperature" placeholder="Enter Temperature">
<input type="text" name="Humidity" id="Humidity" placeholder="Enter Humidity">
<input type="text" name="Rainfall" id="Rainfall" placeholder="Enter Rainfall">
<input type="submit" name="submit_button" value="Predict">
<br>

{{prediction_text}}

</body>
</form>
<script>

</script>
</html>